@page "/"
@using System.Net.Security
@using BlazorApp.Models

<h1>Hello, world!</h1>

Welcome to your new app.

<EmployeeDetailComponent Employee="employee"></EmployeeDetailComponent>
@code
{
  private int currentCount = 0;
  private Employee employee;


  protected override Task OnInitializedAsync()
  {
    employee = new Employee
    {
      Name = "Jhon",
      Title = "Developer",
      Department = "Software Developer"
    };
    return base.OnInitializedAsync();
  }


}
