@page "/"
@using System.Net.Security

<h1>Hello, world!</h1>

Welcome to your new app.
<FieldComponent Label="Name">
    <Control>
        <input class="input" type="text" placeholder="Name">
    </Control>
</FieldComponent>
<FieldComponent Label="Title">
    <Control>
        <input class="input" type="text" placeholder="Title">
    </Control>
</FieldComponent>
<FieldComponent Label="Department">
    <Control>
        <input class="input" type="text" placeholder="Department">
    </Control>
</FieldComponent>

<br/>

@code 
{

}
